*{
	margin: 0;
}

.header{	
	background-color: #ccc;	
	height: 64px;
}
.header img{
	margin-left: 5px;
}
.header  h1{
	margin-left: 70px;
	margin-top: -55px;
	font-family: "Verdana",sans-serif;
	color: #186881;
}

.frm{
	margin-top: 10px;
	margin-left: 25%;
	font-size: 16px;
	font-family: "Verdana",sans-serif;
	color: #186881;
	border: 2px solid #ccc;
	border-radius: 5px;
}
.grid{
	margin-top:5px;	
	border: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 100%;
}

.cabecalho{	
	text-align: center;
	font-weight: bold;
	color: #fff;
	background-color: #186881;
	font-size: 14px;
	font-family: "Verdana",sans-serif;
	height: 24px;
}

.btEditar{	
	height:32px;	
	border: 0;
	background: #f90;	
	outline: none;
	background-color:#00ff33;	
	margin-left: 10%;
	margin-right:10%;
	color: #fff;
}
.btRemover{		
	height:32px;
	border: 0;
	background: #f90;	
	outline: none;
	background-color: #ff0000;
	color: #fff;
}

.grid .cor-sim {
	background-color: #ccc;
}

.grid .cor-nao {
	background-color: #fff;
}

.grid .teste{
	text-align: center;
}


.btNovo{
	height:32px;
	width: 100px;
	border: 0;
	background: #f90;	
	outline: none;
	background-color:#ff9933;
	color: #fff;
	margin: 5px;
}

.btSalvar{
	height:32px;
	width: 100px;
	border: 0;
	background: #f90;	
	outline: none;
	background-color: #0066ff;
	color: #fff;
}